<h1>CHAT INDEX</h1>

<%= link_to 'Logout', destroy_session_chat_messages_path %>
<br>
<br>

<div id='history'>
  <%= image_tag 'ajax.gif' %> Loading...
</div>

<hr>
<br>
<br>
<br>

<%= form_for @chat_message, remote: true do |f| %>
  <%= f.hidden_field :user_name, value: session[:user_name] %>
  <%= f.label :content, 'Message:' %>
  <%= f.text_field :content, style: 'width: 70%; height: 1.4em;' %>
  <%= f.submit 'Send' %> <em><span id='total_chars'>0</span> chars</em>
<% end %>